/* header */
body {
  font-family: Helvetica;
}

.bg-head {
  background: #f1f3ff;
}

.main-section-right {
  padding-top: 70px;
}

.main-section-left {
  padding-top: 155px;
  text-align: justify;
}

/* ====================================================== */
/* ====================================================== */

/* getting started */
.center-sewa {
  align-items: center;
}

.position-sewa {
  margin-top: -50px;
  width: 75%;
}

.card-body {
  padding: 1rem 3rem;
}

.btn-sewa {
  margin-top: 38%;
  width: 100px;
}

.border-sewa {
  border-radius: 10px;
}

.grid-sewa {
  padding-left: 5%;
}

/* ====================================================== */
/* ====================================================== */

/* cardlist */
.size-carlist {
  width: 22rem;
  height: 38rem;
}

.pos-carlist {
  margin-left: 3%;
}

/* ====================================================== */
/* ====================================================== */

/* our service */
.grid-service {
  margin-top: 6%;
}

.size-service {
  width: 459px;
  height: 428px;
}

.grid-best {
  padding-left: 10%;
}

.icon-tick {
  color: #1434d4;
  font-size: 20px;
  background-color: #cfd4ed;
  width: 30px;
  height: 30px;
}

/* our service */

/* ====================================================== */
/* ====================================================== */

/* why us */
.grid-whyus {
  margin-top: 100px;
}

.icon-promotion {
  height: 100%;
}

.why-us {
  padding-top: 100px;
}

.why-text p {
  font-size: 14px;
}

.why-text .card {
  border-radius: 8px;
}

.height-card {
  height: auto;
}

/* why us */

/* ====================================================== */
/* ====================================================== */

/* testimonial */
.bg-testimonial {
  background: #f1f3ff;
}

.testimonial-img {
  width: 80px;
  height: 80px;
}

.testimonial-rating {
  max-height: 16px;
}

.testimonial-name {
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  color: black;
  line-height: 0px;
}
.testimonial-media {
  margin-top: 20px;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  background-color: #f1f3ff;
  color: black;
  border-radius: 50%;
}
.testimonial-media:hover {
  background-color: #04aa6d;
  color: white;
}
/* testimonial */

/* ====================================================== */
/* ====================================================== */

/* getting started */
.grid-rentcar {
  background-color: #0d28a6;
  border-radius: 13px;
}

.spacing-text {
  padding-left: 30%;
  padding-right: 30%;
}

/* getting started */

/* ====================================================== */
/* ====================================================== */

/* FAQ */
.display-accor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* FAQ */

/* ====================================================== */
/* ====================================================== */

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .size-car {
    width: 100%;
    height: 100%;
  }

  .grid-service1 {
    margin-top: 8%;
  }

  .size-service {
    width: 90%;
    height: 90%;
  }

  .size-card {
    margin-top: 5%;
  }

  .pos-card {
    margin-left: 8%;
    margin-right: 8%;
  }

  .faq {
    text-align: center;
  }

  .center-icon {
    align-items: center;
  }

  .center-img {
    margin-left: 25%;
    margin-right: 25%;
  }

  .reset-img {
    display: flex;
    justify-content: center;
  }

  .footer {
    padding-left: 4%;
  }

  .size-carosel {
    height: max-content;
  }

  .display-none {
    display: none;
  }

  .img-pos {
    margin-top: 0;
  }

  .brand {
    margin-left: 10%;
  }

  .owl-carousel .card-body {
    display: block;
  }

  .card-right {
    padding: 0;
  }

  .card-left {
    width: 25%;
    height: 25%;
    margin: 0;
    margin-left: 37%;
  }

  .icon-pos {
    padding-top: 5%;
  }

  .pos-carlist {
    margin-left: 0%;
  }

  .size-carlist {
    width: 22rem;
    height: 36rem;
  }

  .pos-form {
    margin-top: 0%;
  }

  .pos-form button {
    width: 100%;
  }

  .btn-sewa {
    margin-top: 10%;
  }
}
